[Unit]
Description=Kontena IPAM plugin for Docker
Requires=kontena-ipam.socket
PartOf=machines.target
Before=machines.target
After=network.target

[Service]
Environment=IMAGE=kontena-ipam
Environment=TAG=latest
ExecStart=/usr/bin/systemd-nspawn --machine kontena-ipam \
  --directory /var/lib/machines/${IMAGE}:${TAG} --read-only --link-journal=no \
  --bind /run/docker/plugins/ --chdir /app \
  --setenv LOG_LEVEL=0 --setenv ETCD_ENDPOINT=http://127.0.0.1:2379 \
  --setenv PUMA_DEBUG=1 \
  -- bundle exec --keep-file-descriptors puma --debug \
      -b unix:///run/docker/plugins/kontena-ipam.sock
KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133
Slice=machine.slice
Delegate=yes
TasksMax=16384

# Enforce a strict device policy, similar to the one nspawn configures
# when it allocates its own scope unit. Make sure to keep these
# policies in sync if you change them!
DevicePolicy=closed
DeviceAllow=/dev/net/tun rwm
DeviceAllow=char-pts rw

# nspawn itself needs access to /dev/loop-control and /dev/loop, to
# implement the --image= option. Add these here, too.
DeviceAllow=/dev/loop-control rw
DeviceAllow=block-loop rw
DeviceAllow=block-blkext rw

[Install]
WantedBy=machines.target
